@import url("reset.scss");

body {
    font-family: "Roboto Slab";
    font-weight: 500;
    font-size: 18px;
    background-color: #0B1D26;
    color: #FFF;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: clip;
    background-image: url("../img/BG.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

[class*="__container"] {
    max-width: 1790px;
    margin: 0 auto;
    padding: 0px 15px;
}

[class*="container-lower"] {
    max-width: 1492px;
    margin: 0 auto;
    padding: 0px 15px;
}

.page {
    flex: 1 1 auto;
}


.header {
    padding-top: 64px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(20px);


    @media (max-width: 1399.98px) {
        padding-top: 30px;
        padding-bottom: 6px;
    }

    @media (max-width: 991.98px) {
        padding-top: 10px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        position: relative;
        z-index: 5;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__account {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        flex: 0 0 auto;
        position: relative;
        z-index: 5;

        & svg {
            cursor: pointer;
        }
    }

    &__account-text {}
}

.menu {

    &__icon {}

    &__list {
        display: flex;
        column-gap: 40px;

        @media (max-width: 575.98px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            row-gap: 20px;
        }
    }

    &__item {}

    &__link {
        @media (max-width: 575.98px) {
            display: block;
            font-size: 32px;
        }

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 10px;
        }
    }

    @media (max-width: 575.98px) {
        &__body {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: #0B1D26;
            left: -110%;
            top: 0;
            padding: 90px 15px 30px 15px;
            overflow: auto;
            transition: left 0.3s ease 0s;

            &::before {
                content: "";
                width: 100%;
                position: fixed;
                top: 0;
                left: -110%;
                height: 90px;
                background-color: #0B1D26;
                z-index: 5;
                transition: left 0.3s ease 0s;
            }
        }
    }
}

.icon-menu {
    display: none;

    @media (max-width: 575.98px) {
        & {
            display: block;
            flex: 0 0 30px;
            height: 18px;
            position: relative;
            z-index: 5;
        }


        & span,
        &::before,
        &::after {
            content: "";
            right: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #FFF;
            transition: all 0.3s ease 0s;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        & span {
            top: calc(50% - 1px);
        }

        .menu-open & span {
            width: 0;
        }

        .menu-open &::before {
            top: calc(50% - 1px);
            transform: rotate(-45deg);
        }

        .menu-open &::after {
            bottom: calc(50% - 1px);
            transform: rotate(45deg);
        }
    }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0;
}



// =========================Main====================================


.page {
    &__main {}
}

.main {

    &__container {}

    &__content {
        max-width: 960px;
        margin: 0 auto;
        margin-top: 288px;

        @media (max-width: 767.98px) {
            margin-top: 198px;
        }
    }

    &__text {}

    &__title {
        font-family: "Playfair Display";
        font-size: 88px;
        font-style: normal;
        font-weight: 600;
        line-height: 100px;
        text-transform: capitalize;
        padding: 32px 0px;

        @media (max-width: 991.98px) {
            font-size: 68px;
        }


        @media (max-width: 767.98px) {
            font-size: 58px;
            line-height: 70px;
        }

        @media (max-width: 575.98px) {
            font-size: 48px;
            padding: 22px 0px;
        }
    }

    &__scroll {
        display: flex;
        column-gap: 16px;

        & svg {
            cursor: pointer;
        }
    }

    &__text-scroll {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.text-yellow {
    color: #FBD784;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-style: normal;
    padding-left: 32px + 72px;
    position: relative;
    top: 0;
    left: 0;

    @media (max-width: 575.98px) {
        padding-left: 22px + 52px;
        font-size: 16px;
    }

    &::before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 72px;
        height: 2px;
        background-color: #FBD784;

        @media (max-width: 575.98px) {
            width: 52px;
        }
    }
}


// =========================Main====================================



.page {

    &__content {
        margin-top: 843px;

        @media (max-width: 1300.98px) {
            margin-top: 50%;
        }


    }

    &__list {}

    &__item {}
}


.title01 {
    &::before {
        background: url("../img//Equipment01.svg") 0 0 / 30% no-repeat;
    }
}

.title02 {
    &::before {
        background: url("../img//Equipment02.svg") 0 0 / 30% no-repeat;
    }
}

.title03 {
    &::before {
        background: url("../img//Equipment03.svg") 0 0 / 30% no-repeat;
    }
}

.page__item2 {
    flex-direction: row-reverse;

    & .item__info {
        @media (max-width: 1504.98px) {
            padding-left: 0px;
            padding-right: 5%;
        }

        @media (max-width: 940.98px) {
            padding-right: 0%;
        }
    }
}


.item {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    justify-content: space-between;

    @media (max-width: 1200.98px) {
        column-gap: 54px;
    }

    @media (max-width: 940.98px) {
        flex-direction: column;
    }

    @media (max-width: 575.98px) {
        margin-bottom: 150px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 27px;
        flex: 0 1 50%;
        padding-left: 150px;

        @media (max-width: 1504.98px) {
            padding-left: 5%;
        }

        @media (max-width: 575.98px) {
            row-gap: 20px;
        }

        @media (max-width: 940.98px) {
            padding-left: 0%;
        }
    }

    &__text {

        &_litle {
            font-style: normal;
            line-height: 32px;

            @media (max-width: 940.98px) {
                font-size: 18px;
            }

        }
    }

    &__title {
        font-family: "Playfair Display";
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -70%;
            left: -17%;
            width: 100%;
            height: 250%;

            @media (max-width: 1778.98px) {
                left: -1%;
            }

            @media (max-width: 575.98px) {
                width: 120%;
                height: 120%;
            }

            @media (max-width: 401.98px) {
                width: 140%;
                height: 140%;
                top: -50%;
            }
        }

        @media (max-width: 575.98px) {
            font-size: 54px;
        }
    }

    &__read-more {
        display: flex;
        gap: 16px;
        align-items: center;
        color: #FBD784;

        &-text {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 3px;
                text-underline-offset: 10px;
            }
        }

        & svg {
            cursor: pointer;
        }

        @media (max-width: 940.98px) {
            margin-bottom: 30px;
        }
    }

    &__image {
        flex: 0 1 auto;
    }

    &__photo {
        max-width: 100%;
    }
}


// =========================Footer====================================




.footer {
    margin-bottom: 120px;

    @media (max-width: 743.98px) {
        margin-bottom: 60px;
    }

    &__container-lower {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;

        @media (max-width: 743.98px) {
            flex-direction: column;
            row-gap: 50px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__text {
        margin-top: 24px;
        max-width: 303px;
        line-height: 32px;
        flex: 1 1 auto;

        @media (max-width: 743.98px) {
            max-width: 100%;
        }
    }

    &__creator-text {
        padding-top: 20px;
        opacity: 0.5;
    }

    &__listes {
        display: flex;
        width: clamp(400px, 566px, 566px);
        justify-content: space-between;
        column-gap: 20px;

        @media (max-width: 743.98px) {
            width: 100%;
        }

        @media (max-width: 459.98px) {
            flex-direction: column;
            row-gap: 30px;
        }
    }

    &__list {
        @media (max-width: 459.98px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__list-item {
        font-weight: 100;
        line-height: 32px;

        &:not(:nth-child(-n+2)) {
            margin-top: 16px;
        }

        &:first-child {
            color: #FBD784;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            margin-bottom: 24px;
        }
    }
}